---

---
<div>
    <ul>
        <li><img src="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/carrusel1.png" alt="hombres trabajando en construccion" fetchpriority="high" ></li>
        <li><img src="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/carrusel2.png" alt="vista panoramica de la obra" fetchpriority="high"></li>
        <li><img src="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/carrusel3.png" alt="Hombre realizando un trabajo" fetchpriority="high"></li>
    </ul>
    <div class="nav-slider">
        <div class="slider sl1"></div>
        <div class="slider sl2"></div>
        <div class="slider sl3"></div>
    </div>
</div>
<style>
    
    .nav-slider{
        position: relative;
        height: 14px;
        
        display: flex;
        gap:10px;
        justify-content: center;
        align-items: end;
        z-index: 10;
    }
    .slider{
        position: relative;
        width: 6px;
        height: 6px;
        border-radius: 10px;
        bottom: 0px;
        background-color: #B3C3CB;
    }
    .sl1{
        animation: alargar 12s 0s infinite;
    }
    .sl2{
        animation: alargar 12s 4s  infinite;
    }
    .sl3{
        animation: alargar 12s 8s  infinite;
    }

    @keyframes alargar{
        0%{width: 6px;}
        5%{width: 50px;background-color: #849F19;}
        10%{width: 50px;background-color: #849F19;}
        30%{width: 6px;}
    }
    div{
        position: relative;
        width: 100%;
        overflow:hidden;
        height: 100%;
    }
    ul{
        position: relative;
        height: calc(100% - 14px);
        display: flex;
        animation:cambio 12s infinite linear;
        width: 300%;
    }
    li{
        width: 100%;
        height: 100%;
        list-style: none;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;        
    }
    @keyframes cambio{
        0%{margin-left: 0;}
        30%{margin-left: 0;}

        33%{margin-left: -100%;}
        63%{margin-left: -100%;}

        66%{margin-left: -200%;}
        100%{margin-left: -200%;}
    }
</style>