---
import Description from "./Description.astro";

---
<section>
    <div class="cont-art">
        <article class="art-1">
            <img src="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/end1.webp" alt="hombre observando un plano de construccion" class="img" loading="lazy" fetchpriority="low">
            <Description title="Consultoría en construcción"
            texto="Te brindamos consultoría experta en construcción, proporcionando asesoramiento estratégico y soluciones personalizadas para proyectos de todo tipo. Nuestro equipo te entregará orientación técnica, gestión de riesgos y análisis detallado para garantizar el éxito y la eficiencia en cada etapa del proceso constructivo."/>
        </article>
        <article class="art-2">
            <img src="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/end2.webp" alt="hombre derrumbando una pared" class="img" loading="lazy" fetchpriority="low">
            <Description title="Servicios de demolición" texto="Desde evaluaciones de seguridad hasta la ejecución eficiente de demolición controlada, garantizando la gestión adecuada de residuos y la seguridad del sitio. "/>
        </article>
    </div>
</section>

<style>
    section{
        position: relative;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        gap: 16px;
        align-items: start;
        justify-content: center;
        background-color: #E1EBF0;
        box-sizing: border-box;
        padding: 32px 24px;
        /*padding-bottom: 80px;*/
        margin: auto;

    }
    .cont-art{
        width: clamp(320px,90%,1200px);
        height: 100%;
        display: flex;
        gap:16px;
        
    }
    article{
        width: calc( 50% - 8px);
        display: flex;
        flex-direction: column;
        gap:16px;
        background-color: #E1EBF0;
    }
    .img{
        flex-grow: 1;
        object-fit: cover;
    }

    @media screen and (width <=820px){
        article{
            width: 100%;
            height: auto;
            flex-direction: row;
        }
        .img{
            width: clamp(280px,100%,300px);

        }
        .cont-art{
            width: calc(90% + 48px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .art-2{
            flex-direction: row-reverse;
        }
    }


    @media screen and  (width <= 640px){
        article{
            
            flex-direction: column;
        }
        .img{
            width: 100%;
            height: 200px;
        }
        section{
            display: flex;
            flex-direction: column;
            width: 100%;
        
            align-items: center;
        }
        .art-1>.img{
            display: none;
        }
        .art-2{
            flex-direction: column-reverse;
        }
    }

</style>