---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Rumnco</title>
    <meta name="description" content="Rumco, empresa constructora lider en su campo ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://raw.githubusercontent.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/fondo-fixed.webp">
    
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>