---
import Description from "./Description.astro";
import FisrtCard from "./FisrtCard.astro";
---
<FisrtCard />
<div class="main-first">
    <main class="main">
        <section class="sec-1">
            <h2>Servicios personalizados</h2>
            <div class="div1">
                <div class="div1--1">
                    <Description title="Construccion"
                    texto="Desde cimientos hasta acabados finales. Te ofrecemos nuestros servicios de alta calidad, cumpliendo plazos y presupuestos, para proyectos residenciales"
                    />
                    <Description title="Mantenimiento general" texto="Ofrecemos servicios integrales de mantenimiento para hogares, cubriendo desde reparaciones básicas hasta renovaciones mayores. Nuestro equipo calificado garantiza la eficiencia y durabilidad de cada arreglo, asegurando la funcionalidad y seguridad de tu hogar."/>
                </div>
                <img src="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/2doview1.webp" class="img-section" alt="Hombre trabajando" loading="lazy">
            </div>
        </section>

        <section class="sec-2">
            <img src="https://raw.githubusercontent.com/Maur538pz/001-Construccion/master/public/images/2doview2.webp" class="img-section" alt="fotografia edificio" loading="lazy">
            <div class="div1--1">
                <Description title="Diseño arquitectónico" texto="Diseñamos espacios a medida, fusionando creatividad y funcionalidad para crear ambientes únicos que se adaptan a tus necesidades específicas."
                />
                <Description title="Remodelación y renovación" texto="Transformamos espacios mediante remodelaciones y renovaciones que combinan diseño innovador con calidad constructiva. Desde actualizaciones menores hasta cambios completos, nuestro enfoque es revitalizar tu espacio con estilo y eficiencia."/>
            </div>
            
        </section>
    </main>

</div>
<style>
    .main-first{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        position: relative;
        padding: 0px 24px;
        padding-top: 80px;
        padding-bottom: 48px;
        background-color: #E1EBF0;
        box-sizing: border-box;
        margin: auto;
    }
    h2{
        position: relative;
        font-size: 48px;
        /*font-size: clamp(32px,2vw + 1rem,48px);*/
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 125% */
        
        letter-spacing: -0.768px;
        color:#272F33;
        /*word-wrap: break-word;*/
        /*width: 450px;*/
        padding-bottom: 16px;
        text-wrap: balance;
        align-self: stretch;
        box-sizing: border-box;
        padding-right: 50px;
        height: auto;
    }
    .main{
        width: clamp(320px,90%,1200px);
        height: auto;
        display: flex;
        flex-direction: row;
        gap:16px;
    }
    .sec-1{
        /*height: 150px;*/
        display: flex;
        flex-direction: column;
        gap:16px;
        position: relative;
        /*width: 520px; */
        width: clamp(320px,43.92%,520px);
        flex-grow: 1;
    }
    .sec-2{
        display: flex;
        flex-direction: column;
        gap:16px;
        position: relative;
        /*width: 664px; */
        width: clamp(320px,56.08%,664px);
    }
    .img-section{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .div1{
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    .div1--1{
        display: flex;
        flex-direction: column;
        gap:16px;
    }

    @media screen and (width <= 820px){
        .main-first{
            padding: 48px 20px;
        }
        h2{
            width: 96%;
        }
        .div1{
            flex-direction: row-reverse;
        }
        .main{
            width: calc(90% + 48px);
            /*height: 1200px;*/
            flex-direction: column;
            /*align-items: center;*/
            gap: 16px;
        }
        .sec-1 {
            width: 100%;
        
        }
        .img-section{
            width: 300px;
            height: 450px;
        }
        .sec-2{
            flex-direction: row-reverse;
            width: 100%;
           
        }

    }

    @media screen and (width <=640px){
        .main-first{
            height: auto;
        }
        .main{
            height: 100%;
            align-items: center;
        }
        .div1{
            flex-direction: column;
        }
        .img-section{
            width: 80%;
            margin: auto;
        }
        .sec-2{
            width: 100%;
            flex-direction: column-reverse;
        }
        .sec-1{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        h2{
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
        }
    }

    @media screen and (width <=360px){
        .div1{
            flex-direction: column;
        }
        .img-section{
            width: 100%;
        }
        .sec-2{
            width: 96%;
            flex-direction: column;
        }
        .sec-1{
            width: 96%;
        }
        h2{
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
        }
    }
</style>